<div class="container">
  <h1 class="text-center">Movies</h1>
  <p class="text-center">Collectez, organisez et partagez. Les listes sont le moyen idéal pour regrouper les films.</p>


  <div class="container text-center" data-controller="insert-movies">
    <form class="row g-2 justify-content-center py-5" id="search-form"
      data-action="submit->insert-movies#search">
      <div class="col-4">
        <input type="text" class="form-control" placeholder="Find movie" id="search-input"
          data-insert-movies-target="input">
      </div>
      <div class="col-1">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
    <ul id="results" class="list-group list-group-horizontal"
      data-insert-movies-target="results"
      data-controller="init-sortable">
    </ul>
    <div class="row">
      <div class="col pt-1" data-controller="disable-button">
        <button class="btn btn-primary btn-lg"
          data-action="click->disable-button#disable"
          data-disable-button-target="button">
          Click me!
        </button>
        <a href="#" class="d-none ms-2"
          data-disable-button-target="link"
          data-action="click->disable-button#reset">
          Reset
        </a>
      </div>
    </div>
  </div>
</div>
