<div class="container">
<h1 class="text-center">Movies</h1>
<p class="text-center">Collectez, organisez et partagez. Les listes sont le moyen idéal pour regrouper les films.</p>


  <div class="container text-center">
      <form class="row g-2 justify-content-center py-5" id="search-form">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Find movie" id="search-input">
        </div>
        <div class="col-1">
          <input type="submit" class="btn btn-primary">
        </div>
      </form>
      <ul id="results" class="list-group list-group-horizontal"
      data-controller="insert-movies"
      data-controller="init-sortable"></ul>
    </div>
</div>
