<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div id="holder">
        <div id="header">
            <img alt="dbrweb banner" src="http://static.dbrweb.co.uk/img/title.png">
        </div>
        <div id="rightborder">
            <div id="content">
                <p>This is the domain-name of dbr/Ben.</p>
                <p>There may seem to be very little here, but I use this domain for other things, so really there's a lot here, you just can't see it..</p>

                A few sites relating to me in some way:<br>
                <ul>
                    <li><a href="http://neverfear.org" title="neverfear">neverfear.org</a> - some of my writing</li>
                    <li><a href="http://flickr.com/photos/-dbr/" title="Flickr/-dbr">Flickr/-dbr</a> - some of my photos</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

</div>
