.cover {
  background-image: url(asset_path('cover.jpg'));
  height: 300px;
  width: 100%;
  background-size: cover;
  // background-repeat: no-repeat;
  background-position: center;
}

.typed-js {
  min-height: 33.6px;
}
