.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

// .logo {
//   width: 60px;
// }

.nav-item {
  text-decoration-color: rgb(62, 61, 61);
}

.nav-link {
  font-size: larger;
  font-weight: bolder;
  color: rgb(182, 178, 178);
  transition: 0.8s;
}
