.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.logo {
  width: 60px;
}

.nav-link {
  font-size: larger;
  font-weight: bolder;
}
